<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask App</title>
</head>
<body>
    <h1>Python App for AuraDB</h1>
    <p>This is a demo project</p>

    <form action="/create" method="post">
        <button type="submit">Create Graph</button>
    </form>

    <form action="/cleanup" method="post">
        <button type="submit">Cleanup Database</button>
    </form>

    {% if num_nodes is not none %}
    <p>Current number of nodes: {{ num_nodes }}</p>
    <p>Current number of relationships: {{ num_relationships }}</p>
    {% endif %}

    {% if time_taken is not none %}
    <p>Time taken to create graph: {{ time_taken }} seconds</p>
    {% endif %}

    <form action="/search_athletes" method="post">
        <label for="sport_name">Enter Sport Name:</label>
        <input type="text" id="sport_name" name="sport_name" required>
        <button type="submit">Search Athletes</button>
    </form>

    {% if athletes is not none %}
    <h2>Athletes who won in {{ sport_name }}:</h2>
    <ul>
        {% for athlete in athletes %}
        <li>{{ athlete }}</li>
        {% endfor %}
    </ul>
    {% endif %}
</body>
</html>
