<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask App</title>
</head>
<body>
    <h1>Flask App for AuraDB</h1>
    <p>This is a test!</p>

    <form action="/create" method="post">
        <!--<label for="num_nodes">Number of nodes to create:</label>
        <input type="number" id="num_nodes" name="num_nodes" min="1" required>
        -->
        <button type="submit">Create Graph</button>
    </form>

    {% if num_nodes %}
    <p>{{ num_nodes }} nodes created!</p>
    {% endif %}


    <form action="/cleanup" method="post">
        <button type="submit">Cleanup Database</button>
    </form>
    
</body>
</html>
